<h2>Listado de proveedores</h2>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between" 
    *ngFor="let proveedor of proveedores;
    let i = index;
    let first = first;
    let last = last;
    let isEven = even;">
        <div>
            <span class="badge bg-primary rounded-pill">{{i+1}}</span>
            <span class="text-primary">{{proveedor.nombre}}</span>
            {{proveedor.tipo}}
            {{proveedor.telefono}}
            {{proveedor.correo}}
        </div>
        <span><button class="btn btn-danger" (click)="eliminarProveedor(i)">Eliminar</button></span>
    </li>
</ul>