<div class="row">
    <div class="col">
        <app-header></app-header>
    </div>
</div>

<div class="row mb-5">
    <div class="col col-6">
        <app-listado [productos] = "productos" (productoEliminado)="eliminarProducto($event)"></app-listado>
    </div>
    <div class="col col-5">
        <app-agregar-producto (productoAgregado)="agregarProducto($event)"></app-agregar-producto>
    </div>
</div>

<div class="row mb-5">
    <div class="col col-6">
        <app-listado-categoria [categorias]="categorias" (categoriaEliminado)="eliminarCategoria($event)"></app-listado-categoria>
    </div>
    <div class="col col-5">
        <app-agregar-categoria (categoriaAgregado)="agregarCategoria($event)"></app-agregar-categoria>
    </div>
</div>

<div class="row mb-5">
    <div class="col col-6">
        <app-listado-proveedores [proveedores]="proveedores" (proveedorEliminado)="eliminarProveedor($event)"></app-listado-proveedores>
    </div>
    <div class="col col-5">
        <app-agregar-proveedor (proveedorAgregado)="agregarProveedor($event)"></app-agregar-proveedor>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-footer></app-footer>
    </div>
</div>
